/***GENERAL HTML ELEMENTS***/
html {
    scroll-behavior: smooth;
}

body {
    color: #333;
    background: #EEE8E4;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: #333;
}

p {
    font-size: 1.25rem;
}

/**Headings**/
h1,
h2 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

h1,
h2,
h3 {
    color: #333
}

h1 {
    font-size: 14vw;
    line-height: 1.2;
    text-transform: uppercase;
}

h2 {
    font-size: 20vw;
}
@media screen and (min-width:1400px) {
    h2 {
        font-size: 300px;
    }
}

h3 {
    font-size: 2.25rem;
}


/***GENERAL CLASS CSS***/
.section {
    margin-bottom: 5.625em;
}

@media screen and (max-width:767px) {
    .column-reverse {
        flex-direction: column-reverse;
    }
}

.inner-h1 { text-transform: capitalize; text-align: left; }
.inner-h2 { font-size:2.25rem; margin-top: -4em;; text-align: left; }
@media screen and (max-width:767px) {
    .inner-h2 { margin-top:20px; }
}

.main-button {
    border: 2px solid #333;
    border-radius: 35px;
    color: #333;
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    margin: 10px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all, .5s;
    width: 200px;
}

.main-button::before {
    background-color: #333;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 200px;
    transition: all, .5s;
    z-index: -1;
}

.main-button:hover::before {
    width: 200px;
}

.main-button:hover {
    color: #fff;
}

.action-button {
    background-color: #333;
    border: none;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    margin: 10px;
    padding: 20px 0;
    text-decoration: none;
    transition: all, .5s;
    width: 200px;
}

.action-button:hover {
    background-color: #444;
}

.back-button {
    display: block;
    font-family: 'DM Serif Display', serif;;
    font-size:2.25rem;
    margin: 40px 0 0;
    text-align: center;
    text-decoration:none;
    text-transform: capitalize;
}


/***NAVIGATION***/
.navbar,
.navbar-collapse,
.navbar .nav-link,
.navbar .navbar-brand {
    color: #333;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    transition: all, .5s;
}
.navbar-collapse {
    background-color: #EEE8E4;
}


/***HOME***/
#home {
    padding-top: 90px;
    position: relative;
}

/*#home h1 span { display: inline-block; transform: rotate(15deg); }
#home h1 span:nth-child(odd) { transform: rotate(-15deg); }*/
#home h2 {
    font-size: 2.25em;
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
}


/***INTRO***/
#intro {
    padding-top: 90px;
}


/***ABOUT***/
#about {
    text-align: center;
}

#about p {
    margin-top: -8%;
}

@media screen and (min-width:768px) {
    .about-buttons {
        margin-top: 15%;
    }
}


/***WORK***/
#main h2 {
    position: relative;
    z-index: 1000;
}

.main-work-box {
    margin-top: -20%;
    position: relative;
}

.main-work-box h3,
.main-work-box p {
    margin-bottom: 30px;
}

.work-box {
    margin: 90px 0;
}

.work-box:last-child {
    margin-bottom: 0;
}

.work-box img,
.work-box video {
    width: 100%;
    height: auto;
}

.work-link+.work-link {
    margin-top: 15px;
}

.work-link {
    color: #333;
    display: block;
    font-family: 'DM Serif Display', serif;
    font-size: 1.25em;
    text-decoration: none;
    text-transform: capitalize;
    transition: all, .5s;
    width: fit-content;
}

.work-link::after {
    background-color: #333;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    transition: all, .5s;
    ;
}

.work-link:hover::after {
    width: 100%;
}


/***DESCRIPTION***/
.description-container h3 {
    margin: 40px 0 30px;
}
.description-container p {
    margin:10px 0;
}
.description-container video, .description-container iframe {
    margin:40px 0 0;
    width:100%;
}


/***CONTACT***/
#contact {
    text-align: center;
}

#contact p {
    margin: -5% 0 30px;
}

#contact h3 {
    font-family: 'DM Serif Display', serif;
}

.modal-body {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    margin-top: 15px;
}

/**Input**/
.contact-form input {
    padding: 20px 30px;
    margin: 10px 0;
    width: 300px;
    border: #333 2px solid;
    border-radius: 0;
    background: transparent;
    font-size: 1rem;
    transition: all, .5;
}

/**Placeholder**/
.contact-form input::placeholder {
    color: #333;
}

/*when input is selected, change placeholder to...*/
.contact-form input:focus::-webkit-input-placeholder {
    font-size: .8em;
    color: #0D7738;
    transform: translateY(-100%);
    transition: all, .5s;
}

/**Submit Button**/
.contact-form input[type=submit] {
    width: 300px;
    background: #333;
    border: #333 2px solid;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all, .5s;
}

.contact-form input[type=submit]:hover {
    border: #0D7738 2px solid;
    background: #0D7738;
    letter-spacing: 2px;
}


/***FOOTER***/
.footer {
    background-color: #333;
    color: #fff;
    font-family: 'DM Serif Display', serif;
    padding: 15px 5%;
}


/***MEDIA QUEREIS***/
@media screen and (max-width:768px) {
    h1 {
        font-size: 22vw;
    }

    h2 {
        font-size: 30vw;
    }

    .main-work-box {
        margin-top: -10em;
    }

    .hideOverflowOnMobile {
        overflow: hidden;
    }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 25vw;
    }
}
