/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

/***************************** GENERAL HTML *****************************/
html { scroll-behavior: smooth; }
body {
    color: #fff;
    background: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    padding-top: 52px;
}
a { color: #fff; }
p { font-size: 1.25rem; }
video, iframe { width: 100%; }

/*Headings*/
h1, h2, h3, h4 {
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    text-transform: lowercase;
}

h1 { font-size: 8vw; line-height: 1.2; }
h2 { font-size: 20vw; }
h3 { font-size: 2.25rem; }

/***************************** GENERAL CSS CLASS *****************************/
.section { border-bottom:.5px solid #fff; padding-bottom:6vw; }

@media screen and (max-width:767px) {
    .column-reverse { flex-direction: column-reverse; }
}

.main-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    margin: 5px 0;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    transition: all, .5s;
    width: 200px;
}
.main-button::before {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 200px;
    transition: all, .5s;
    z-index: -1;
}
.main-button:hover::before { width: 200px; }
.main-button:hover { background-color: transparent; border: 2px solid #fff; color: #000; }

/*.action-button {
    background-color: #fff;
    border: none;
    border-radius: 35px;
    color: #000;
    display: inline-block;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    margin: 10px;
    padding: 20px 0;
    text-decoration: none;
    text-transform: lowercase;
    transition: all, .5s;
    width: 200px;
}
.action-button:hover { background-color: #ddd; color:#000; }*/

.back-button {
    display: block;
    font-family: 'Anonymous Pro', monospace;
    font-size:2.25rem;
    margin: 40px 0 0;
    text-align: center;
    text-decoration:none;
    text-transform: lowercase;
}

.link-underline::after {
    background-color: #fff;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    transition: all, .5s;
}
.link-underline:hover::after { width: 100%; }

.strong { font-weight: bold; }

/***************************** NAVIGATION *****************************/
.navbar,
.navbar-collapse,
.navbar .nav-link,
.navbar .navbar-brand {
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 24px;
    text-transform: lowercase;
    transition: all, .5s;
}
.navbar { background-color: #000; }

/***************************** HOME *****************************/
#home {
    height: 600px !important;
    border-bottom: .5px solid #fff;
    display: flex; flex-direction: column;
    justify-content:center; align-items: center;
    position: relative;
    z-index: -1000;
}
#myCanvas { width: 100%; height: 800px !important; opacity: .6; }
.homepage-headings { position: absolute; z-index: 1; }
.homepage-headings h2 { font-size:2rem; margin-top:0; }

/***************************** ABOUT *****************************/
#about { position: relative; text-align: left; z-index: 1001; }
#about p { margin-top: -10%; }
#about p + p { font-style: italic; margin-top:20px; }

/***************************** WORK *****************************/
#main { position: relative; z-index: 1000; }
#main h2 { position: relative; z-index: 1002; }

.main-work-box { margin-top: -15%; position: relative; }
.main-work-box h3 { margin-bottom:0; }
.main-work-box p { margin-bottom:.5em; }

.work-box { padding: 40px 0; }
.work-box:last-child { margin-bottom: 0; }
.work-box img, .work-box video {
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 0 white;
    width: 100%; height: auto;
}

.work-blurb { text-align: center; }
.work-link+.work-link { margin-left:30px; }
.work-link {
    color: #fff;
    display: inline-block;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.25em;
    text-transform: lowercase;
    transition: all, .5s;
}

/***************************** WORK PAGE *****************************/
/*work intro*/
.intro .sticky-top { top: 100px; }
.intro { margin-top:80px; }
.intro h1, .intro h2, .intro h3 { text-align: left; }
.intro h1 { font-size:5rem; line-height: 1; margin-bottom: .5em; }
.intro h2 { font-size:1.5rem; font-weight: bold; }
.intro h3 { font-size: 1.5rem; font-style: italic; margin-bottom: .5em; }
.intro p { margin:.5em 0; }
.back-button { font-size:1.25rem; margin-bottom: .5em; text-align: left; text-decoration: none; }
.back-button:hover { text-decoration: underline; }

/*work media*/
.work-media img, .work-media video, .work-media iframe {
    margin:40px 0 0;
    width:100%;
}

/*work nav*/
.work-nav {
    display: flex; flex-direction: row; justify-content: space-between;
    font-family: 'Anonymous Pro', monospace; font-size: 1.25rem;
    padding-top: 6vw;
}
.work-nav a { text-decoration: none; text-transform: lowercase; }
.work-nav a:hover { text-decoration: underline; }
.work-nav-all { text-decoration: underline !important; }

/***************************** FUN / SIDE PROJECTS *****************************/
#fun { text-align: center; }
#fun h2 { font-size:8vw; }
#fun p { margin-bottom:.5em; }
#fun div { margin:2em 0 0; }
#fun img { width:100%; }
#fun h3 { margin-bottom: 0; }

/***************************** CONTACT *****************************/
#contact {
    border-bottom: 0;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    text-align: center;
    z-index: 999;
}

#contact p { margin: -5% 0 20px; }
#contact h3 { color:#000; }
#contact .main-button p { margin:0; transition: all,.5s; }

/*Form*/
#contact .modal-body {
    display: flex;
    justify-content: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-form label {
    color:#000;
    font-family: 'Anonymous Pro', monospace;
    margin-top: 10px;
    text-transform: lowercase;
}
/*input*/
.contact-form input {
    padding: 20px 30px;
    margin: 10px 0;
    width: 300px;
    border: #333 2px solid;
    border-radius: 0;
    background: transparent;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1rem; font-weight: lighter;
    text-transform: lowercase;
    transition: all, .5;
}
/*placeholder*/
.contact-form input::placeholder { color: #333; text-transform: lowercase; }
/*when input is selected, change placeholder to...*/
.contact-form input:focus::-webkit-input-placeholder {
    font-size: .8em;
    color: #0D7738;
    transform: translateY(-100%);
    transition: all, .5s;
}
/*submit button*/
.contact-form input[type=submit] {
    width: 300px;
    background: #333;
    border: #333 2px solid;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin:20px 0;
    transition: all, .5s;
}
.contact-form input[type=submit]:hover {
    border: #0D7738 2px solid;
    background: #0D7738;
    letter-spacing: 2px;
}

/***************************** FOOTER *****************************/
.footer {
    background-color: #000;
    border-top:.5px solid #fff;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    padding: 15px 5%;
}
.footer p { text-align: center; }

/***************************** MEDIA QUERIES *****************************/
@media screen and (max-width:1199px) {
    .sticky-top { position: unset; }
    .intro h1 { font-size:4rem; }
}
@media screen and (max-width:991px) {
    h2 { margin-top:0; }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .section { padding-bottom:2em; }
    #about p { margin-top:-5%; margin-bottom:.5em; }
    .main-work-box { margin-top: -6em; }
}

@media screen and (max-width:767px) {
    #about { text-align: center; }
    #fun h2 { font-size: 10vw; }
    .work-box img, .work-box video { margin-bottom: 1em; }
    .work-nav { flex-direction: column; }
    .work-nav a { display: block; margin:.5em 0; }
}

@media screen and (max-width:500px) {
    h2 { font-size: 25vw; }
    #home { height:400px !important; }
    #myCanvas { height:600px !important; opacity:.3; }
    .work-box img, .work-box video { box-shadow: none; }
}