/* -------  Fonts   ----------*/
@font-face {
    font-family: 'Roobert-Bold';
    src: url("Roobert-Bold.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: 'Roobert-Regular';
    src: url("Roobert-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: 'Roobert-SemiBold';
    src: url("Roobert-SemiBold.woff") format("woff");
    font-weight: 600;
}

/* Hdyro One Colour Variables */
:root {
    --mint: #E3F7F1;
    --teal: #005866;
    --text: #242424;
    --gray: #D9D8D6;
    --light: #E5E5E5;
    --off: #FAFAFA;
    --vibrant: #6ED7B7;
    --yellow: #FFDD00;
}

/******************
    HTML Elements
******************/
html { scroll-behavior: smooth; }
body {
    line-height: 1.6;
    color: var(--text);
    font-family: 'Roobert-Regular', sans-serif;
    font-size: 16px;
}
h1 { font-family: 'Roobert-Bold', sans-serif; font-size: 40px; }
h2 { font-family: 'Roobert-SemiBold', sans-serif; font-size: 26px; }
p { font-size: 16px; }

/******************
    Header
******************/
header {
    background-color: #BAD1D7;
    padding: 6em 0;
    position: relative;
}
header p { font-size: 16px; font-weight: bold; text-transform: uppercase; }
.header-img { position: absolute; top: 4em; right: 10%; }

/******************
    Intro
******************/
.intro { padding: 45px 0 40px; }
.intro-para { font-size: 20px; width: 70%; }

/******************
    Content
******************/
.veg-main-content { padding: 45px 0; }
/*Paragraph Spacings*/
.veg-main-content p, .our-skilled-team p + p { padding: 0 0 30px; margin:0; }
.our-skilled-team p { padding: 0 0 10px; }
.veg-main-content p + a {
    background-color: #005B66;
    color: #fff;
    font-size: 16px; font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
}
/*Hide Mobile Title*/
.tablet-show { display: none; }
/*Video Styling*/
iframe { box-shadow: -25px 30px #A1BCC2; width: 480px; height: 270px; }

/******************
    Responsive
******************/
@media screen and (max-width:1024px) {
    header { overflow: hidden; }
    .intro-para { width: unset; }

    /*Our Skilled Team*/
    .our-skilled-team { display: flex; flex-direction: column-reverse; }
    .our-skilled-team h2 { display: none; }
    .tablet-show { display: block !important; }
    .our-skilled-team .col { display: flex; align-items: center; flex-direction: column; text-align: center; }
    .our-skilled-team .col:nth-child(2) { padding-bottom: 60px; }
    .our-skilled-team .col:nth-child(2) h2 { padding: 0 0 30px; }
}

@media screen and (max-width:767px) {
    .intro { padding: 45px 0 30px; }
    .veg-main-content { padding: 40px 0; }
    .our-skilled-team .col { align-items: flex-start; text-align: left; }
}

@media screen and (max-width:540px) {
    .header-img { display: none; }
    iframe { box-shadow: 25px 30px #A1BCC2; width: 400px; height: 300px; }
}

@media screen and (max-width:420px) {
    iframe { box-shadow: 20px 25px #A1BCC2; width: 300px; height: 200px; }
}

@media screen and (max-width:280px) {
    iframe { box-shadow: 20px 25px #A1BCC2; width: 220px; height: 150px; }
}